.PillListModule {
  .PillListModule__wrap {
    display: flex;
    padding: 10px 85px;
    .PillListModule__cta {
      margin-right: 72px;
      .PillListModule__cta-title {
        font-size: 2.8rem;
        margin: 0;
        max-width: 350px;
        font-weight: 1;
      }
      .pill-list-module__cta-subtitle {
        font-size: 1.3rem;
      }
    }
    .pill-list-module__list-container {
      max-width: 719px;
      ul {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        padding: 0;
        li {
          cursor: pointer;
          list-style: none;
          background-color: rgba(0, 0, 0, 0.08);
          margin: 0px 10px 15px 0;
          padding: 15px 15px;

          border-radius: 28px;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
          a {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
