@import "../../../assets/styles/Helpers/variable.scss";
.btn-sign {
  .infor-user {
    cursor: pointer;
    margin: auto;
    height: 100%;
    position: relative;
    .show-infor-user {
      display: none;
    }
    &:hover {
      .show-infor-user {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        .show-infor-user__wrap {
          background-color: white;
          margin-top: 62px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid rgba(0, 115, 177, 0.3);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
          transform: translateX(40px);
          border-radius: 4px;
          min-width: 200px;

          .show-infor-user__login {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
            h3 {
              font-size: 1.4rem;
              color: rgba(0, 0, 0, 0.5);
              text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
            }
            p {
              margin: 5px 0 0 0;
              text-align: center;
              font-size: 1.6rem;
              color: rgba(0, 115, 177, 1);
            }
          }
          .logout {
            margin: auto;
            width: 60%;
            border: none;
            width: 98%;
            margin-top: 3px;
          }
        }
      }
    }
    img {
      width: 50px;
      height: 100%;
    }
  }
  button {
    outline: none;
    cursor: pointer;
    border: $bb_b;
    background-color: white;
    height: $bb_h;
    width: $bb_w;
    border-radius: $bb_br;
    color: $color-blue-0;
    font-size: $bb_fs;
    font-weight: $bb_fw;
    margin-left: $bb_ml;
    &:hover {
      background-color: $bb_h_bg;
      border: $bb_h_b;
      padding: 1px 1px;
    }
  }
}
@media screen and (max-width: 1023px) {
  .btn-sign {
    button {
      height: $bbm_h;
      width: $bbm_w;
      padding: 0px;
      font-size: $bbm_fs;
      font-weight: $bbm_fw;
      margin-left: $bbm_ml;
      &:hover {
        background-color: $color-blue-1;
        border: 2px solid $color-blue-0;
        padding: 1px 1px;
      }
    }
  }
}
