.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .main__list-course {
    grid-column: 3 / span 1;
  }
  .main__core-rail {
    grid-column: 1 / span 2;
  }
}
@media screen and (max-width: 740px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
