@import "../../../assets/styles/Helpers/variable.scss";
.BtnStart {
  button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: $bs_p;
    font-size: $bs_fs;
    background-color: white;
    font-weight: $bs_fw;
    color: $bs_c;
    &:hover {
      background-color: $bs_hover_bc;
      border-radius: $bs_border-radius;
    }
  }
}
