@import "../../../assets/styles/Helpers/variable.scss";
.SwitchSearch {
  button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: $color-gray-0;
    border: 0px none;
    cursor: pointer;
    span {
      font-size: 1rem;
    }
    img {
      margin-left: 10px;
      width: 10px;
      height: 10px;
    }
  }
}
