@import "../../../assets/styles/Helpers/variable.scss";
.Logo {
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    img {
      width: 30px;
      height: 30px;
      border-radius: 3px;
    }
    span {
      color: $color-blue-0;
      margin-left: 12px;
      font-size: 1rem;
      letter-spacing: 4px;
      font-weight: 450;
    }
  }
}
