@import "../../../assets/styles/Helpers/variable.scss";
.hero {
  width: $sh_w;
  height: $sh_h;
  .hero__wrapper {
    padding: 0 $sh_p;
    height: $sh_h;
    width: 100%;
    .hero__logo {
      width: $li_w;
      height: $li_h;
      position: absolute;
      right: 5%;
      top: 58%;
      @media screen and (max-width: 768px) {
        right: 5%;
        top: 58%;
      }
    }
    .hero__inf {
      width: 40%;
      height: 80%;
      position: absolute;
      left: 5%;
      top: 20rem;
      @media screen and(max-width:768px) {
        left: 17%;
        top: 34%;
        width: 33%;
        height: 80%;
      }
    }
    .hero__seach {
      width: 35%;
      height: 70%;
      position: absolute;
      top: 126%;
      left: 17%;
      //   background-color: red;
    }
  }
}
