@import "../../assets/styles/Helpers/variable.scss";
.Header {
  box-shadow: 0px 1px 8px $h_bs_color;
  margin-bottom: $h_mg_bt;
  .Header__wrap {
    display: flex;
    padding: $h_wr_pd_tp_bt $h_wr_pd_lf_rg;
    align-items: center;
    justify-content: space-between;
  }
}
