// genneral

// list trendding course
$lth_mb: 1.5rem;
$lth_fs: 1.6rem;
$lt_fw: 600;
$ltt_c: rgba(0, 0, 0, 0.6);
$ltsa_c: #0073b1;

// courese
$ci_h: 15rem;
$ci_br: 0.5rem;
$cn_fs: 1.8rem;
$cn_c: rgba(0, 0, 0, 0.9);
$cv_fs: 1.4rem;
$cv_fw: 400;
$cv_c: rgba(0, 0, 0, 0.6);
