.width-input {
  input {
    outline: none;
    width: 89%;
    height: 50px;
    margin-bottom: 10px;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 0px 20px;
    &:hover {
      border: 1.5px solid rgba(0, 0, 0, 1);
    }
  }
}
.width-input-focus {
  input {
    border: 2px solid rgba(25, 118, 210, 1);
    &:hover {
      border: 2px solid rgba(25, 118, 210, 1);
    }
  }
}
.login__group-input__item {
  position: relative;
  padding: 7px 0;
  .login__group-input__item__label {
    width: auto;
    height: auto;
    position: absolute;
    top: 22px;
    left: 11px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.5);
    animation: blur linear 0.2s;
  }
  .login__group-input__item__focus {
    font-size: 1rem;
    background-color: white;
    top: 0;
    left: 10px;
    animation: focus linear 0.2s;
    color: rgba(25, 118, 210, 1);
  }
}
@keyframes focus {
  from {
    font-size: 1.6rem;
    top: 22px;
  }
  to {
    font-size: 1.3rem;
    top: 0;
  }
}
@keyframes blur {
  from {
    font-size: 1.3rem;
    top: 0;
  }
  to {
    font-size: 1.6rem;
    top: 22px;
  }
}
